<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page.title}} | Occam Vision Group</title>
    <link href="{{site.baseurl}}/assets/css/styles.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/images/favicon.ico" rel="shortcut icon">
    <link href="{{site.baseurl}}/assets/images/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="{{site.baseurl}}/assets/images/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="{{site.baseurl}}/assets/images/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href='http://ajax.googleapis.com/' rel='dns-prefetch'/>
    <link href='http://maps.google.com/' rel='dns-prefetch'/>
    <link href='http://maxcdn.bootstrapcdn.com/' rel='dns-prefetch'/>
    <link href='http://vjs.zencdn.net/' rel='dns-prefetch'/>
    <link href='http://s.w.org/' rel='dns-prefetch'/>

</head>
<body class="home-page home page-template page-template-template-fullwidth page-template-template-fullwidth-php page page-id-116 logged-in chrome alt-style-default layout-right-content  parent">
<header class="col-full" id="header">


    <hgroup>


        <div class="site-logo"><a href="{{site.baseurl}}/"><img alt="" class="attachment-full size-full"
                                                height="50"
                                                sizes="(max-width: 296px) 100vw, 296px"
                                                src="{{site.baseurl}}/assets/images/occamvisiongroup-logo-dark.png"
                                                width="296"/></a></div>
        <h2 class="site-description"></h2>
        <h3 class="nav-toggle"><a href="#navigation">
            <mark class="websymbols">&#178;</mark>
            <span>Navigation</span></a></h3>

    </hgroup>
    {% include navigation.html %}

    <!-- /#navigation -->


</header><!-- /#header -->

</header>
{{ content }}
<div class="footer-wrap">
    {% include footer.html %}
</div>
</body>
<script src='{{site.baseurl}}/assets/js/jquery-ui/core.mine899.js?ver=1.11.4' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/jquery-ui/widget.mine899.js?ver=1.11.4' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/jquery-ui/tabs.mine899.js?ver=1.11.4' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/single-product.min7e68.js?ver=2.1.12' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/front6149.js' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/general125b.js' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/single-product.min7e68.js' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/third-party125b.js' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/video_gallery-all125b.js' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/vjs.youtube125b.js' type='text/javascript'></script>
<script src='{{site.baseurl}}/assets/js/jquery-migrate.min330a.js' type='text/javascript'></script>
</html>
